:root{
  --aqua: #13d6ea;
  --blackish: #363636;
  --greyish: #a6a6a6;
  --greyish-brown: #545454;
  --muted-white: #f9f9f9;
  --pinkish-grey: #cfcfcf;
  --turquoise-blue: #00accf;
  --warm-grey: #828282;
  --white: #fff;
}
* {
  font-family: 'Work Sans', sans-serif;
}
/* Grid */
.grid-container {
  grid-template-columns: repeat(24, 1fr);
  row-gap: 5px;
  column-gap: 1px;
  display: grid;
}
/* Header */
h2, h3, h4 {
  margin: 0;
}
.header-shape {
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
  background-color: var(--white);
}
.title-container {
  grid-area: 3 / 2 / 6 / 10;
}
.header-title {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.9px;
  color: var(--blackish);
}
.header-subtitle {
  margin-top: 5px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--warm-grey);
}
/* Search */
.search-field {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid var(--warm-grey);
  background-color: var(--white);
  background-image: url('../img/shape.png');
  background-repeat: no-repeat;
  background-position: right 21px center;
  grid-area: 3 / 12 / 6 / 24;
  display: block;
}
.search-field::placeholder {
  width: 45px;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--warm-grey);
}
.search-field::-webkit-input-placeholder {
  width: 45px;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--warm-grey);
}
/* Body */
.pointer {
  cursor: pointer;
}
.btn-close {
  border: none;
  background: none;
  align-self: flex-end;
}
.start {
  grid-column-start: 2;
  grid-column-end: 24;
}
.background {
  width: 100%;
  max-width: 1440px;
  min-height: 95vh;
  margin: 0 auto;
  padding-bottom: 20px;
  display: block;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 1px;
  row-gap: 5px;
  background-color: var(--muted-white);
}
.All {
  padding-right: 25px;
  /* width: 19px; */
  /* height: 20px; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: var(--pinkish-grey);
}
.Today {
  /* width: 65px; */
  /* height: 20px; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: var(--turquoise-blue);
}
/* Card */
.card {
  display: flex;
  margin-bottom: 10px;
  justify-content: start;
  align-items: center;
  box-shadow: 0 1px 3px 0 #e7e7e7;
  background-color: var(--white);
}
.float-left {
  float: left;
}
.title {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.7px;
  color: var(--blackish);
}
.subtitle {
  opacity: 0.47;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--blackish);
}
.album-photo {
  float: left;
  width: 54px;
  height: 54px;
  grid-column-start: 5;
  object-fit: contain;
  margin:20px;
}
.featured-btn {
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: 10px;
  background-color: var(--aqua);
  float: right;
  border: none;
}
.featured-text {
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  border: none;
  color: var(--white);
}
.Add-to-featured {
  width: 78px;
  height: 11px;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--aqua);
}
/* Padding */
.padding-buttons {
  padding-top: 31px;
  padding-bottom: 31px;
}
/* Modal */
.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 5px;
  z-index: 1050; 
  overflow: scroll;
  outline: 0;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  flex-direction: column;
}
.modal-body {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 0 15px 0;
  margin: 0 0 20px 0;
}
.modal-album-img {
  grid-column-start: 1;
  grid-column-end: 24;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border:0;
  border-radius:0;
  border-radius:4px;
}
.modal-dialog {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 20px 0 rgba(54, 54, 54, 0.6);
  background-color: var(--white);
}
.album-description {
  grid-column-start: 1;
  grid-column-end: 24;
}
.album-title {
  /* width: 472px; */
  /* height: 24px; */
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: var(--blackish);
  letter-spacing: -0.7px;
  margin-top: 0;
  margin-bottom: 5px;
}
.album-link {
  text-decoration: none;
}
.album-image {
  object-fit: contain;
  width: 100%;
  max-width: 170px;
}
.album-description-content {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.6px;
  margin:0;
  color: var(--greyish-brown);
  padding-bottom: 10px;
}
.album-description-title {
  width: 122px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: var(--greyish);
}
.artist-title {
  /* width: 42px; */
  /* height: 14px; */
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: var(--aqua);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) {
  .background {
    padding-bottom: 40px;
    min-height: 94vh;
  }
  .search-field {
    grid-area: 3 / 14 / 6 / 24;
  }
  .title {
    font-size: 18px;
    line-height: 1.33;
  }
  .title-container {
    grid-area: 3 / 2 / 6 / 10;
  }
  .featured-btn {
    padding: 5px 16px;
    margin-right: 21px;
  }
  .padding-buttons {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .modal {
    margin: 0;
  }
  .modal-dialog {
    margin: 30px auto;
  }
  .album-description {
    grid-column-start: 11;
    grid-column-end: 24;
  }  
  .modal-album-img {
    grid-column-start: 1;
    grid-column-end: 10;
  }
}
@media only screen and (min-width: 992px) {
  .background {
    padding-bottom: 50px;
    min-height: 93vh;
  }
  .search-field {
    grid-area: 3 / 14 / 6 / 22;
  }
  .title {
    font-size: 18px;
    line-height: 1.33;
  }
  .title-container {
    grid-area: 3 / 4 / 6 / 7;
  }
  .start {
    grid-column-start: 4;
    grid-column-end: 22;
  }
  .padding-buttons {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .featured-btn {
    padding: 5px 16px;
    margin-right: 21px;
  }
  .modal {
    margin: 0;
  }
  .modal-dialog {
    margin: 30px auto;
  }
  .album-description {
    grid-column-start: 11;
    grid-column-end: 24;
  }  
  .modal-album-img {
    grid-column-start: 1;
    grid-column-end: 10;
  }
}